.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    
    border:1px solid #94a0b4;
    color:#000
}

.MapServer {
    border:2px solid rgb(0,128,255) !important;
}

.MapServer:hover {
    border:2px solid rgba(0,128,255,.5) !important;
}

.MapServer_Tiled {
    border:2px solid rgb(85,170,170) !important;
}

.MapServer_Tiled:hover {
    border:2px solid rgba(85,170,170,.5) !important;
}

.GeocodeServer {
    border:2px solid rgb( 170,212,85) !important;
    }

.GeocodeServer:hover {
   border:2px solid rgba(170,212,85,.5) !important;
}

.FeatureServer {
    border:2px solid rgb(  255,170,0) !important;
}

.FeatureServer:hover {
    border:2px solid rgba(  255,170,0,.5) !important;
}

.ImageServer {
    border:2px solid rgb(   255,85,0) !important;
}

.ImageServer:hover {
    border:2px solid rgba(   255,85,0,.5) !important;
}

.GeometryServer {
     border:2px solid rgb(  255,255,0) !important;
}

.GeometryServer:hover {
    border:2px solid rgba(  255,255,0,.5) !important;
}

.GPServer {
     border:2px solid rgb(  255,0,0) !important;
}

.GPServer:hover {
    border:2px solid rgba(  255,0,0,.5) !important;
}

.legend{
    height:15px;
    width:25px;
    border-radius:5px;
    float:left;
}
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
body {
  font-family: "Open Sans";
  color:#111;
}

.wrap {
  width: 250px;
  text-align: center;
  position: absolute;
  margin-top:30px;
  left: 50%;
  margin-left: -125px;
  font-size:45px;
  display:none;
}
.wrap div {
  display: inline;
  margin: -2px;
}

.l {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.o {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 0.21875s;
          animation-delay: 0.21875s;
}

.a {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 0.4375s;
          animation-delay: 0.4375s;
}

.d {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 0.65625s;
          animation-delay: 0.65625s;
}

.i {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

.n {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 1.09375s;
          animation-delay: 1.09375s;
}

.g {
  -webkit-animation: shrinkgrow 1.75s ease-in-out infinite;
          animation: shrinkgrow 1.75s ease-in-out infinite;
  -webkit-animation-delay: 1.3125s;
          animation-delay: 1.3125s;
}

@-webkit-keyframes shrinkgrow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shrinkgrow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}